<nav class="navbar navbar-expand navbar-orange navbar-dark" style="line-height: 4 !important;">
  <!-- Left navbar links -->
  <!-- <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="../../index3.html" class="nav-link">Home</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="#" class="nav-link">Contact</a>
    </li>
  </ul> -->

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- Navbar Search -->
    <li class="nav-item">
      <a class="nav-link" data-widget="navbar-search" data-target="#navbar-search6" href="#" role="button">
        <i class="fas fa-search"></i>
      </a>
      <!-- <div class="navbar-search-block" id="navbar-search6">
        <form class="form-inline">
          <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search"></i>
              </button>
              <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
        </form>
      </div> -->
    </li>

    <!-- Messages Dropdown Menu -->
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-comments"></i>
        <span class="badge badge-danger navbar-badge">3</span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <a href="#" class="dropdown-item">
          <!-- Message Start -->
          <div class="media">
            <img src="../../dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
            <div class="media-body">
              <h3 class="dropdown-item-title">
                Brad Diesel
                <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
              </h3>
              <p class="text-sm">Call me whenever you can

              </p>
              <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
            </div>
          </div>
          <!-- Message End -->
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <!-- Message Start -->
          <div class="media">
            <img src="../../dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
            <div class="media-body">
              <h3 class="dropdown-item-title">
                John Pierce
                <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
              </h3>
              <p class="text-sm">I got your message bro</p>
              <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
            </div>
          </div>
          <!-- Message End -->
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <!-- Message Start -->
          <div class="media">
            <img src="../../dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
            <div class="media-body">
              <h3 class="dropdown-item-title">
                Nora Silvester
                <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
              </h3>
              <p class="text-sm">The subject goes here</p>
              <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
            </div>
          </div>
          <!-- Message End -->
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
      </div>
    </li>
    <!-- Notifications Dropdown Menu -->
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-bell"></i>
        <span class="badge badge-warning navbar-badge">15</span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-item dropdown-header">15 Notifications</span>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fas fa-envelope mr-2"></i> 4 new messages
          <span class="float-right text-muted text-sm">3 mins</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fas fa-users mr-2"></i> 8 friend requests
          <span class="float-right text-muted text-sm">12 hours</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fas fa-file mr-2"></i> 3 new reports
          <span class="float-right text-muted text-sm">2 days</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
      </div>
    </li>
  </ul>
</nav>

<div class="center" style="height: 80%; text-align: center;">
  <!-- <div class="info-box mb-3"> -->
    <!-- <span class="info-box-icon bg-danger elevation-1">
      <img src="assets/logo.jpeg">
    </span> -->

    <div class="row" style="margin-bottom: 50px;">
      <div class="col-12 col-md-offset-3" style="text-align: center;">
        <img src="assets/logo.jpeg" class="img-thumbnail imgSobre" style="min-height: 80px; max-height: 150px;">
        
      </div>
      <div class="w-100"></div>
      <div class="col-12 col-md-offset-3" style="text-align: center;">
        <h1>Aquino's Congelados.</h1>
        
      </div>
      
      <div class="w-100"></div>
      <div class="col-12 col-md-offset-3" style="text-align: center;">
        <span>Horário de funcionamento: 11 às 15.</span>
        
      </div>
      <div class="w-100"></div>
      <div class="col-12 col-md-offset-3" style="text-align: center;">
        <span>Taxa de entrega: a partir de R$ 3,00</span>
        
      </div>
    </div>

    <!-- <div class="info-box-content">
      <span class="info-box-text">Likes</span>
      <span class="info-box-number">41,410</span>
    </div> -->
    <!-- /.info-box-content -->
  <!-- </div> -->
</div>

<hr class="style11">


<div class="col-md-12">
  <div class="box box-default">
    <div class="box-header with-border">
      <i class="fa fa-bullhorn"></i>
      <!-- <span>Promoção do dia</span> -->

      <h3 class="box-title">Promoção do dia</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="callout callout-danger">
        <div class="row">
          <div class="col-8">
            <h4>Empadão de Frango com Catupiry</h4>
            <p>+ Coca-Cola + Sobremesa</p>
            <small class="badge badge-danger">por apenas R$ 17,50</small>
          </div>
          <div class="col-4 float-right align-right"> 
              <img src="assets/combo.jpeg" class="item"  style="height: 100px" />
          </div>
        </div>
      </div>
      <h3 class="box-title">Cardápio do dia</h3>

      <div class="callout callout-warning">
        <div class="row">
          <div class="col-8">
            <h4>Lasanha à Bolonhesa</h4>
            <!-- <p>+ Coca-Cola + Sobremesa</p> -->
            <small class="badge badge-warning">por apenas R$ 22,50</small>
          </div>
          <div class="col-4 float-right align-right"> 
              <img src="assets/lasanha.jpeg" class="item"  style="height: 100px" />
          </div>
        </div>
      </div>

      <div class="callout callout-warning">
        <div class="row">
          <div class="col-8">
            <h4>Empadão de camarão com catupiry</h4>
            <!-- <p>+ Coca-Cola + Sobremesa</p> -->
            <small class="badge badge-warning">por apenas R$ 18,50</small>
          </div>
          <div class="col-4 float-right align-right"> 
              <img src="assets/empadao.jpeg" class="item"  style="height: 100px" />
          </div>
        </div>
      </div>

      <div class="callout callout-warning">
        <div class="row">
          <div class="col-8">
            <h4>Fettuccine ao molho especial</h4>
            <!-- <p>+ Coca-Cola + Sobremesa</p> -->
            <small class="badge badge-warning">por apenas R$ 13,50</small>
          </div>
          <div class="col-4 float-right align-right"> 
              <img src="assets/fettuccine.jpeg" class="item"  style="height: 100px" />
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>

